<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حجتي | الحاج المفرد</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/kab.png" />


    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/aos/dist/aos.css">
    <link href="/stylesheets/application.css" rel="stylesheet">
    <link href="/stylesheets/stepsOmra.css" rel="stylesheet">


    <!-- Boostrap libraries -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="bower_components/aos/dist/aos.js"></script>


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<style>

  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


 
/* The Modal (background) */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>
</head>
<nav> <%- include('../header'); -%> 
</nav>
  <body class="index" id="to-top" style="overflow-x: hidden;">
   
    <!-- Side nav -->
    <header>
    </header>
    <br><br><br><br>
    <!--SECTION 1------------------------------------------------------------------------------>
  <section style="height: 600px;width: 90%;box-shadow:5px 10px rgb(66, 50, 50);border-radius: 30px; background-image:url(/images/back.png);background-size: cover		;position: relative;left: 75px;">
    <h1 style="text-align: center;color:white; position: relative;top: 100px;">المخطط المنطقي للحاج المفرد </h1>
     
     <h3 style="text-align: center;color: white;position: relative;top: 350px;">بدء المراحل</h3>
     <div style="display: inline;position: relative;top: 120px;left: 60px;">
       <img src="/images/2.png" width="200" height="150">
       <img src="/images/4.png" width="200" height="150" >
       <img src="/images/3.png" width="200" height="150">
       <img src="/images/1.png" width="200" height="150">
       <img src="/images/5.png" width="200" height="150">
     </div>
    <div class="arrows"></div>
</section>  
    <!--SECTION2-------------------------------------------------------------------------------------------------->
    
    <section  style="height: 800px;width: 90%; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color: #f8f4f0;position: relative;left: 75px;top:40px;" >
      <button id="prev"  class="btn btn-primary" style="position:relative;top: 650px;left:460px;background-color: #af5f61;" >المرحلة السابقة</button>
      <button id="next"  class="btn btn-primary" style="position:relative;top: 650px;left:460px;background-color: #af5f61;">المرحلة التالية</button>
          <div class="main"  >
            <div class="inputGroup1" style="display: none;">
              <input id="option1" name="option1" type="checkbox"/>
              <label for="option1" class="finish">أتممت هذه المرحلة</label>
              <h1 style="text-align: center;position:relative ;bottom: 50px;left: 230px;">قبل الثامن من ذي الحجة</h1>
              
              <button class="btn" id="myBtn" style="position: relative;bottom: 100px;left: 30px;border-color: #f8f4f0;">ادعيةهذه المرحلة</button>   
                                  <!-- The Modal -->
                    <div id="myModal" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">
                        <span class="close">&times;</span>
                        <img src="/images/الاحرام.png" style="width: 400px;height: 250px;position: relative;left: 150px;">
                        <img src="/images/tawaf.png" style="width: 400px;height: 250px;position: relative;left: 150px;">
                      </div>

                    </div>
                    <img src="/images/dua-hands.png" style="width:50px;height: 50px;position: relative;bottom: 100px;left: 50px;">
                      <h2 style="color: white; position: relative;text-align:center;bottom: 80px;">الإحرام من الميقات بنية الحج فقط و التلبية بعد ذلك</h2>
                      <h3 style="text-align: center;position: relative;bottom: 80px;">&#8595;</h3>
                      <h2  style="color: white; position: relative;text-align:center;bottom: 80px;">طواف القدوم
                          ركعتا الطواف
                          الملتزم - زمزم</h2>
                      <h3 style="text-align: center;position: relative;bottom: 80px;">&#8595;</h3>
                      <h2 style="color: white; position: relative;text-align:center;bottom: 80px;">يبقى محرماً في مكة حتى الثامن من ذي الحجة </h2>
                      <img src="/images/4.png" style="position: absolute;top: 350px;width: 200px;height: 150px;left: 360px;">

                      </div>
          <!------------------------------------------------------------------->
          <div class="inputGroup2" style="display: none;">
            <input id="option2" name="option2" type="checkbox"/>
            <label for="option2" class="finish">أتممت هذه المرحلة</label>
            <h1 style="text-align: center;position:relative ;bottom: 50px;left: 230px;"> الثامن من ذي الحجة</h1>
                              
            <button class="btn" id="myBtn" style="position: relative;bottom: 100px;left: 30px;border-color: #f8f4f0;">ادعيةهذه المرحلة</button>   
              <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <h1>test</h1>
              </div>

            </div>

            <img src="/images/dua-hands.png" style="width:50px;height: 50px;position: relative;bottom:100px;left: 60px;">
      
        <h1 style="position: relative;top: 80px;left: 10px;color:white;">ينطلق إلى منى بعد صلاة الفجر يصلي بها ( الظهر – العصر – المغرب – العشاء – وفجر اليوم التاسع) </h1 style="position: relative;top: 80px;">
          <img src="/images/2.png" style="position: relative;bottom: 280px;width: 200px;height: 150px;left: 300px;">
        </div>


    <!------------------------------------------------------------------------------>
    
      <div class="inputGroup3" style="display: none;">
        <input id="option3" name="option3" type="checkbox"/>
        <label for="option3" class="finish">أتممت هذه المرحلة</label>
        <h2  style="position: relative;bottom: 50px; text-align: center;left: 230px;"> التاسع من ذي الحجة</h2>
        <button class="btn" id="myBtn" style="position: relative;bottom: 100px;left: 30px;border-color: #f8f4f0;">ادعيةهذه المرحلة</button>   
        <img src="/images/dua-hands.png" style="width:50px;height: 50px;position: relative;bottom:100px;left: 60px;">
        <h4  style="color: white; position: relative;text-align:center;bottom: 80px;">الانطلاق إلى عرفات بعد صلاة الفجر</h4>
        <h5 style="text-align: center;position: relative;bottom: 80px;">&#8595;</h5>
        <h4  style="color: white; position: relative;text-align:center;bottom: 80px;">الوصول إلى عرفات</h4>
        <h5 style="text-align: center;position: relative;bottom: 80px;">&#8595;</h5>
        <h4  style="color: white; position: relative;text-align:center;bottom: 80px;">صلاة الظهر و العصر جمع تقديم بوقت الظهر</h4>
        <h5 style="text-align: center;position: relative;bottom: 80px;">&#8595;</h5>
        <h4  style="color: white; position: relative;text-align:center;bottom: 80px;">الإكثار من الذكر و الدعاء حتى غروب الشمس</h4>
        <h5 style="text-align: center;position: relative;bottom: 80px;">&#8595;</h5>
        <h4  style="color: white; position: relative;text-align:center;bottom: 80px;">الإفاضة من عرفات إلى مزدلفة بعد الغروب</h4>
        <h5 style="text-align: center;position: relative;bottom: 80px;">&#8595;</h5>
        <h4  style="color: white; position: relative;text-align:center;bottom: 80px;">صلاة المغرب و العشاء بمزدلفة جمع تأخير بوقت العشاء</h4>
     </div>
         <!---------------------------------------------------------------------------------------->
    
         <div class="inputGroup4" style="display: none;">
                  <input id="option4" name="option4" type="checkbox"/>
                  <label for="option4" class="finish">أتممت هذه المرحلة</label>
                  <h2  style="position: relative;bottom: 50px; text-align: center;left: 230px;"> العاشر من ذي الحجة</h2>
                  <button class="btn" id="myBtn" style="position: relative;bottom: 100px;left: 30px;border-color: #f8f4f0;">ادعيةهذه المرحلة</button>   
                  <img src="/images/dua-hands.png" style="width:50px;height: 50px;position: relative;bottom:100px;left: 60px;">
                  <h4 style="color: white; position: relative;text-align:center;bottom: 110px;">السير إلى منى بعد صلاة الصبح و قبل طلوع الشمس</h4>
                  <h5 style="text-align: center;position: relative;bottom: 120px";>&#8595;</h5>
                  <h4 style="color: white; position: relative;text-align:center;bottom: 120px;">رمي جمرة العقبة</h4>
                  <h5 style="text-align: center;position: relative;bottom: 120px";>&#8595;</h5>
                  <h4 style="color: white; position: relative;text-align:center;bottom: 120px;">(الذبح (ذبح الهدي</h4>
                  <h5 style="text-align: center;position: relative;bottom: 120px";>&#8595;</h5>
                  <h4 style="color: white; position: relative;text-align:center;bottom: 120px;">الحلق أو التقصير</h4>
                  <h5 style="text-align: center;position: relative;bottom: 120px";>&#8595;</h5>
                  <h4 style="color: white; position: relative;text-align:center;bottom: 120px;">طواف الإفاضة</h4>
                  <h5 style="text-align: center;position: relative;bottom: 120px";>&#8595;</h5>
                  <h4 style="color: white; position: relative;text-align:center;bottom: 120px;">السعي إن لم يسعى بعد طواف القدوم</h4>
                  <h5 style="text-align: center;position: relative;bottom: 120px";>&#8595;</h5>
                  <h4 style="color: white; position: relative;text-align:center;bottom: 120px;">العودة إلى مِنى للمبيت</h4>
                  <img src="/images/1.png" style="width: 200px;height: 150px; position: relative;bottom: 450px;left: 20px;">
                <img src="/images/5.png" style="width: 200px;height: 150px; position: relative;bottom: 300px;left: 450px;">
           </div>

    <!------------------------------------------------------------------------------------------->
    
    <div class="inputGroup5" style="display: none;">
      <input id="option5" name="option5" type="checkbox"/>
      <label for="option5" class="finish">أتممت هذه المرحلة</label>
      <h2  style="position: relative;bottom: 50px; text-align: center;left: 230px;"> من11 الى13 ذي الحجة  </h2>
      <button class="btn" id="myBtn" style="position: relative;bottom: 100px;left: 30px;border-color: #f8f4f0;">ادعيةهذه المرحلة</button>   
        <img src="/images/dua-hands.png" style="width:50px;height: 50px;position: relative;bottom:100px;left: 60px;">
       <h2 style="color: white; position: relative;text-align:center;bottom: 100px;">رمي الجمرات الثلاث ( الصغرى – الوسطى – الكبرى )</h2>
       <h3 style="text-align: center;position: relative;bottom: 100px;">&#8595;</h3>
       <h1 style="color: white; position: relative;text-align:center;bottom: 100px;">العودة إلى مكة لطواف الوداع</h1>
       <h3 style="text-align: center;position: relative;bottom: 100px;">&#8595;</h3>
       <h1 style="color: green; position: relative;text-align:center;bottom: 100px;">نهاية الحج</h1>
       <img src="/images/travel.png" style="width: 200px;height: 150px; position: relative;bottom: 70px;left: 350px;">

      </div>
  <!---------------------------------------------------------------------------------------------->
  <div class="inputGroup6" style="display: none;">
    <input id="option6" name="option6" type="checkbox"/>
    <label for="option6" style="text-align:center;">أتممت الحج</label>
    
      <h2  style="text-align: center;position: relative;top: 80px;color: white;" >فائدة: في حال أراد الحاج المفرد أن يسعى بعد طواف القدوم فباستطاعته
         ذلك ويكون ذلك السعي هو سعي الحج ولا حاجة عندئذ للسعي بعد طواف الإفاضة.</h2>
         <h1 style="position: relative;bottom: 150px;left: 400px;color: white;">فائدة</h1>

   </div>
</div>
     </section>
  <!-- Footer ------------------------------------------------------------------------------->
  <!-- Footer ------------------------------------------------------------------------------->
  <footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;position: relative;top: 200px; height: 280px;" >

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3" style="position: relative;right: 150px;">
         <h5 style="text-align:center; position: relative;top: 30px;left: 50px;">حمل تطبيق حجتي مجانا على</h5>
         <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 250px;"></a>

          <!-- Content -->
          
        </div>
        <!-- Grid column -->

        
        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="lang" key="follow" style="position:relative;left:215px;top:30px">تابع حجتي على</h5>
          <img src="/images/fb.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  
          <img src="/images/insta.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">
          <img src="/images/linked.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  


         

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase"></h5>

         

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
      <hr style="border:none;border-left:1px solid bisque; height: 150px;position: relative;left:550px ;bottom: 90px;">

    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="position: relative;bottom: 70px;">© 2020 Copyright:
      <a href="https://esi-sba.dz/"> ESI SBA</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  <!-- Footer -->
  <script>
    AOS.init();
  $(document).ready(function(){
    $('.inputGroup<%=user.step%>')
    .addClass('current')
    .attr('style', 'display: block');
    if('<%=user.step%>' == 1) $('#prev').attr('disabled', true);
    if('<%=user.step%>' == 6) $('#next').attr('disabled', true);
  });

  $('#next').click(function() {
    $('.current').
    removeClass('current')
    .hide()
    .next()
    .show()
    .addClass('current');
    if ($('.current').hasClass('inputGroup6')) {
      $('#next').attr('disabled', true);
    }
    $('#prev').attr('disabled', null);
  });

  $('#prev').click(function() {
  $('.current')
  .removeClass('current')
  .hide()
  .prev()
  .show()
  .addClass('current');
  if ($('.current').hasClass('inputGroup1')) {
    $('#prev').attr('disabled', true);
  }
  $('#next').attr('disabled', null);
  });

  $('.finish').click(function() {
    $.ajax({
      url: 'http://localhost:3000/init/update',
      type: 'POST',
      cach: false,
      data: {id: '<%=user._id%>'},
      success: function(data){
        $.ajax({
          url: 'http://localhost:4000/initDone',
          type: 'POST',
          cache: false,
          data: {user: data.user},
          success: function(){
            setTimeout(function(){
            $('.current')
            .removeClass('current')
            .hide()
            .next()
            .show()
            .addClass('current');
            },500);
          }
        })
      },
      err: function(){
        alert('something went wrong');
      }
    })
  })
</script>
  
  
        <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }


                    // Get the modal
                    var modal1 = document.getElementById("myModal1");

          // Get the button that opens the modal
          var btn1 = document.getElementById("myBtn1");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          // When the user clicks the button, open the modal 
          btn1.onclick = function() {
            modal.style.display = "block";
          }

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
            modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target == modal1) {
              modal1.style.display = "none";
            }
          }

          </script> 
</body>
</html>