<!DOCTYPE html>
 <html lang="en"> 
 <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>حجتي | Profile</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/kab.png" />


    <!--Animate.css-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
   -->  <!-- Templates core CSS -->
    <link href="/stylesheets/application.css" rel="stylesheet">
    <!-- Boostrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<style>
  body {
 
  background-image: url(/images/back.png);background-size: cover;overflow-x: hidden;
  }
  .card {
position: relative;
top: 70px;
left:400px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: auto;
text-align: center;
}

.change {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
text-align: center;
cursor: pointer;
width: 50%;
font-size: 18px;
position: relative;
bottom:180px;
left: 150px;

}

a {
text-decoration: none;
font-size: 15px;
color: black;
}

.change:hover, a:hover {
opacity: 0.7;
}

.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.dropdown-user:hover {
  cursor: pointer;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}


.table-user-information > tbody > tr > td {
  border-top: 0;
}
.toppad
{margin-top:20px;
}
@font-face {
font-family: "arab";
src: url(../fonts/ae_Cortoba.ttf) format("truetype");
font-style: normal;
font-weight: 100;
}
td {
  font-size: 17px;
}
</style>
  </head>
  <nav>
    <%- include('header'); -%> 
  </nav>
  <body class="index" id="to-top" style="overflow-x: hidden;">
    <section >
      <div class="container">
        <div class="row">
        <div class="col-md-6  toppad  col-md-offset-3 col-sm-12 col-sm-offset-3">
            
            <div >
              <a href="/prfsettings"  style="background-color:darkgray; border-radius: 1rem; padding: 1rem;">الإعدادات</a>
            </div>
            
        </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 toppad" >
     
     
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center;" ><%=user.username%> </h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3 col-lg-3 " text-align="center"> <img alt="User Pic" src="images/avatar.png" class="img-circle img-responsive"> </div>
                  

                  <div class=" col-md-9 col-lg-9 "> 
                    <table class="table table-user-information" style="text-align: center;">
                      <tbody>
                        <tr>
                          <td><%= user.first_name %> </td>
                          <td>: الإسم</td>
                        </tr>
                        <tr>
                          <td><%= user.last_name %> </td>
                          <td>: اللقب</td>
                        </tr>
                        <tr>
                          <td><% if (user.gender=="male") { %> 
                            ذكر
                          <% } else {%>
                            أنثى
                          <% } %> 
                          </td>
                          <td>: الجنس</td>
                        </tr>
                        <% if (user.type) {%> 
                        <tr>
                          <% if (user.type == "tama") { %>
                            <td>حج التمتع</td>
                          <% }else if (user.type =="ifrad") { %>
                          <td>حج الإفراد</td>
                          <% }else if (user.type =="ikran") { %>
                          <td>حج القران</td>
                          <% }else if (user.type =="omra") { %>
                            <td>عمرة</td>
                          <% } %> 
                          <td>: نوع المناسك</td>
                        </tr>
                        <% } %> 
                        <tr>
                          <td><%= user.email %> </td>
                          <td> البريد اﻹلكتروني</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
                <div class="panel-footer" style="height: 50px;">
                         
                  <span class="pull-right">
                      <a href="/prfsettings" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                  </span>
                </div>
            </div>
          </div>
        </div>
      </div>    </section>
    <!-- Side nav -->
    <!-- Footer ------------------------------------------------------------------------------->
    <footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;position: relative;top: 100px; height: 280px;" >

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3" style="position: relative;right: 150px;">
           <h5 style="text-align:center; position: relative;top: 30px;left: 50px;">حمل تطبيق حجتي مجانا على</h5>
           <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 250px;"></a>

            <!-- Content -->
            
          </div>
          <!-- Grid column -->

          
          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="lang" key="follow" style="position:relative;left:215px;top:30px">تابع حجتي على</h5>
            <img src="/images/fb.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  
            <img src="/images/insta.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">
            <img src="/images/linked.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  
  

           

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase"></h5>

           

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <hr style="border:none;border-left:1px solid bisque; height: 150px;position: relative;left:550px ;bottom: 90px;">

      </div>

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="position: relative;bottom: 70px;">© 2020 Copyright:
        <a href="https://esi-sba.dz/"> ESI SBA</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
   
 <!---Boostrap libraries-->
 <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js"></script>


    


    </body>
    </html>