<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حجتي | المعتمر</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/kab.png" />


    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/aos/dist/aos.css">
    <link href="/stylesheets/application.css" rel="stylesheet">
    <link href="/stylesheets/stepsOmra.css" rel="stylesheet">

    <!-- Boostrap libraries -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="bower_components/aos/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


</head>
<nav class="navbar navbar-expand-lg  " style="background-color:white;height: 80px;">
  <a href="/"> <img src="/images/logo.png" style="position: relative;left: 45px;top:30px" width="150px;height:120px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" style="position: relative;left:900px;">
          <a style="text-decoration: none;" class="nav-link" href="/agencies" >   <button type="button" style="background-color: #af5f61;border-radius: 20px 20px; height: 40px;position: relative;right: 700px;" class="btn btn-default"> 
          <h6 style="color: white;"> وكالات سفر متاحة  </h6>
          </button></a>
        </li>
        <li class="nav-item" style="position: relative;left:900px;">
          <a style="text-decoration: none;" class="nav-link" href="/places" >   <button type="button" style="background-color: #af5f61;border-radius: 20px 20px; height: 40px;position: relative;right: 700px;" class="btn btn-default"> 
          <h6 style="color: white;">مواقع سياحية</h6>
          </button></a>
        </li>
        <li class="nav-item" style="position: relative;left:900px;">
          <a style="text-decoration: none;" class="nav-link" href="#" >  
         <button type="button" style="background-color: #af5f61;border-radius: 20px 20px; height: 40px;position: relative;right: 700px;" class="btn btn-default"> 
          <h6 style="color: white;">نصائح و توجيهات</h6>
          </button></a>
        </li>
        <li class="nav-item dropdown" style="position: relative;left:350px;">
          <div class="chip" style="background-color: rosybrown;">
          <img src="/images/avatar.png" alt="Person" width="96" height="96">
          <a style="text-decoration: none;" class="nav-link dropdown-toggle" href="/profile" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
        <h6 style="color: white; position: relative;top: 5px;right: 9px;"> <%= user.username %> </h6> 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">اكمال مراحلي</a>
            <a class="dropdown-item" href="/profile">عرض الملف الشخصي</a>
            <a class="dropdown-item" href="/logout">خروج</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <body class="index" id="to-top" style="overflow-x: hidden;">
   
    <!-- Side nav -->
    <header>
    </header>
    <!--SECTION 1------------------------------------------------------------------------------>
  <section style="height: 600px;width: 90%;box-shadow:5px 10px rgb(66, 50, 50);border-radius: 30px; background-image:url(/images/back.png);background-size: cover		;position: relative;left: 75px;">
    <h1 style="text-align: center;color:white; position: relative;top: 100px;">المخطط المنطقي للمعتمر</h1>
     
     <h3 style="text-align: center;color: white;position: relative;top: 350px;">بدء المراحل</h3>
     <div style="display: inline;position: relative;top: 120px;left: 310px;">
       <img src="/images/2.png" width="200" height="150">
       <img src="/images/4.png" width="200" height="150" >
       <img src="/images/5.png" width="200" height="150">
     </div>
    <div class="arrows"></div>
</section>  
    <!--SECTION2-------------------------------------------------------------------------------------------------->
    
    <section  style="height: 800px;width: 90%; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color: #f8f4f0;position: relative;left: 75px;top:40px;" >
      <button id="prev"  class="btn btn-primary" style="position:relative;top: 650px;left:400px" >المرحلة السابقة</button>
      <button id="next"  class="btn btn-primary" style="position:relative;top: 650px;left:600px">المرحلة التالية</button>
          <div class="main">
            <div class="inputGroup1" style="display: none;">
              <input id="option1" name="option1" type="checkbox"/>
              <label for="option1" class="finish">أتممت هذه المرحلة</label>
              <h1 style="text-align: center;position:relative ;bottom: 50px;">يحرم للعمرة من الميقات بالنية و التلبية (1) </h1>
                <h5 style="position: relative;left: 190px;bottom: 50px;">:قبل الإحرام يستحب التهيؤ له بفعل أشياء يستقبل بها تلك العبادة العظيمة، وهي</h5>
                <h5 style="color: white; position: relative;text-align:center;bottom: 50px;"> الاغتسال بجميع البدن و التنظيف كازالة شعر الشارب والإبط والعانة و التطيب بما تيسر من انواع الطيب</h5>
                <h3 style="text-align: center;position: relative;bottom: 50px;">&#8595;</h3">
                <h5 style="color: white;position: relative;text-align: center;bottom: 50px;">لبس ثياب الإحرام، وهو عبارة عن إزارا ورداء أبيضين، ولا يظهر الكتف الأيمن إلا في طواف القدوم فقط، أما المرأة تلبس ما تشاء من الثياب بدون أي زينة  ثم يصلي ركعتين، وينوي الإحرام بالعمرة</h5>
                <h3 style="text-align: center;position: relative;bottom: 50px;">&#8595;</h3">
                <h5 style="color: white;position: relative;text-align: center;bottom: 50px;">قول "لبيك عمرة، لبيك اللهم لبيك، لبيك لا شريك لك لبيك، إن الحمد والنعمة لك والملك، لا شريك لك"، ويرفع الرجل صورته بذلك، أما المرأة تقوله بقدر ما يسمع من بجانبها فقط، ثم يكثرون من التلبية، والذكر</h5>
                <img src="/images/ihram1.jpg" width="25%" height="35%" style="position: relative;left: 40px;bottom: 30px;border-radius: 20px;">
                <img src="/images/ihram2.jpg" width="25%" height="35%" style="position: relative;left: 430px;bottom: 30px;border-radius: 20px;">
              </div>

        
          <!------------------------------------------------------------------->
        <div class="inputGroup2" style="display: none;">
          <input id="option2" name="option2" type="checkbox"/>
          <label for="option2" class="finish">أتممت هذه المرحلة</label>
          <h1 style="position: relative;bottom: 50px;left: 500px;"> طواف العمرة  (2) </h1>
          <h3 style="position: relative;bottom: 100px;left: 30px;"> ادعية هذه المرحلة</h3>
          <img src="/images/dua-hands.png" style="width:50px;height: 50px;position: relative;bottom: 155px;left: 260px;">
          <h5 style="color: white;position: relative;text-align: center;bottom: 120px;">إذا وصل المعتمر مكة، يدخل المسجد الحرام بالقدم اليمنى، ويبدأ 7 أشواط طواف حول الكعبة المشرفة بداية من الحجر الأسود، قائلا "بسم الله والله أكبر" وكلما مر عليه في كل شوط، وينتهي إليه، ويستلم الحجر بيده اليمنى ويقبله إذا تيسر ذلك، ولا يزاحم عليه، أو يشير إليه من بعيد، ويذكر الله ويدعوه بما يشاء</h5>
          <h3 style="text-align: center;position: relative;bottom: 120px;">&#8595;</h3">
          <h5 style="color: white;position: relative;text-align: center;bottom: 120px;">وإذا بلغ الركن اليماني استلمه من غير تقبيل، فإذا لم يتيسر له لا يزاحم عليه ولا يشير إليه، ويقول بينه وبين الحجر الأسود "ربنا آتنا في الدنيا حسنة وفي الآخرة حسنة وقنا عذاب النار"</h5>
          <h3 style="text-align: center;position: relative;bottom: 120px;">&#8595;</h3">
          <h5 style="color: white;text-align: center;position: relative;bottom: 120px;"> وأثناء الطواف يقوم الرجل بفعل شيئين، الأول "الاضطباع" وهو إظهار الكتف الأيمن، والثاني "الرمل" وهو الإسراع في المشي مع مقاربة الخطوات أثناء الأشواط الثلاثة الأولى، وفي الباقي يمشي كعادته</h5>
          <h3 style="text-align: center;position: relative;bottom: 120px;">&#8595;</h3">
          <h5 style="color: white;position: relative;bottom: 120px;text-align: center;">بعد الانتهاء من الطواف، يتقدم نحو مقام إبراهيم ويقرأ "واتخذوا من مقام إبراهيم مصلى"، ثم يصلي خلفه ركعتين ويقرأ سورتي "الكافرون" و"الإخلاص" بعد الفاتحة، وإن لم يتيسر ففي أي مكان بالمسجد الحرام</h5>
          <img src="/images/4.png" style="width: 20%;height: 20%;position: relative;bottom: 145px;left:50px">
          <img src="/images/4.png" style="width: 20%;height: 20%;position: relative;bottom: 145px;left: 500px;">


        </div>

          <!------------------------------------------------------------------->
          
            <div class="inputGroup3" style="display: none;">
              <input id="option3" name="option3" type="checkbox"/>
              <label for="option3" class="finish">أتممت هذه المرحلة</label>
              <h1 style="position: relative;bottom: 50px;left: 500px;"> سعي العمرة (3) </h1>
              <h3 style="position: relative;bottom: 100px;left: 30px;"> ادعية هذه المرحلة</h3>
              <img src="/images/dua-hands.png" style="width:50px;height: 50px;position: relative;bottom: 155px;left: 260px;">
              <h4 style="color: white;text-align: center;position: relative;bottom: 20px;"> يخرج المعتمر للسعي من باب الصفا ويصعد عليه مستقبلا الكعبة، ويقرأ "إن الصفا والمروة من شعائر الله..." إلى آخر الآية، ويرفع يديه بالدعاء ويحمد الله ويكبره، ويقول "لا إله إلا الله وحده، أنجز وعده، ونصر عبده، وهزم الأحزاب وحده"، ويكررها ثلاث مرات، ولا حرج إن اقتصرت على أقل من ذلك</h4>
              <h3 style="text-align: center;position: relative;bottom: 20px;">&#8595;</h3">

              <h4 style="color: white;text-align: center;position: relative;bottom: 20px;"> ينزل من الصفا إلى المروة ماشيا، فإذا بلغ العلمين الأخضرين يسرع في مشيه "الهرولة" وهذا للرجال فقط، ويمشي كعادته عند الوصول للعلم الثاني، ويكرر الأمر في كل شوط، ويصعد على المروة ويقول ما قاله على الصفا، ويحسب الشوط من الصفا إلى المروة والعكس يحسب شوطا آخر، ويقول في السعي ما تيسر من الذكر والدعاء أو قراءة القرآن</h4>
            </div>
             <!------------------------------------------------------------------->
             <div class="inputGroup4" style="display: none;">
              <input id="option4" name="option6" type="checkbox"/>
              <label for="option4" class="finish">أتممت هذه المرحلة</label>
              <h1 style="position: relative;bottom: 50px;left: 500px;">الحلق أو التقصير (4) </h1>
              <h3 style="position: relative;bottom: 100px;left: 30px;"> ادعية هذه المرحلة</h3>
              <img src="/images/dua-hands.png" style="width:50px;height: 50px;position: relative;bottom: 155px;left: 260px;">

              <h4 style="color: white;position: relative;bottom:80px;text-align: center;">إذا أتم سعيه يحلق الرجل رأسه أو يقصر، وإن كانت إمرأة تقصر من أطراف شعرها قدر أنملة في جميع جهات الرأس</h4>
              <h3 style="text-align: center;position: relative;bottom: 80px;">&#8595;</h3">
              <h4 style="color: white;position: relative;bottom:80px;text-align: center;">وبذلك تمت العمرة ويحل من الإحرام كاملا وترفع المحظورات، وتحل له الملابس والطيب والنكاح، وغير ذلك</h4>
              <img src="/images/takssir.jpg" style="width: 30%;height: 30%;position: relative;bottom: 40px;left: 330px;">
            </div>
             <!------------------------------------------------------------------->
             <div class="inputGroup5" style="display: none;">
              <input id="option5" name="option5" type="checkbox"/>
              <label for="option5" style="text-align:center;">أتممت العمرة</label>
               <h2 style="text-align: center;position: relative;top: 80px;" > إذا كان المعتمر في مكة ويريد أن يؤدي عمرة أخرى فيحرم من مسجد
                السيدة عائشة رضي الله عنها (التنعيم) ثم يعود إلى مكة للطواف والسعي</h2>
                <h1 style="position: relative;bottom: 150px;left: 400px;">فائدة</h1>

               </div>
          </div>

     </section>
  <!-- Footer ------------------------------------------------------------------------------->
  <footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;" >

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
         <h5 style="text-align:center; position: relative;top: 30px;">حمل تطبيق حجتي مجانا على</h5>
         <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 250px;"></a>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://esi-sba.dz" style="text-decoration: none;color:black;">ESI SBA</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->








  <script>
      AOS.init();
    $(document).ready(function(){
      $('.inputGroup<%=user.step%>')
      .addClass('current')
      .attr('style', 'display: block');
      if('<%=user.step%>' == 1) $('#prev').attr('disabled', true);
      if('<%=user.step%>' == 5) $('#next').attr('disabled', true);
    });

    $('#next').click(function() {
      $('.current').
      removeClass('current')
      .hide()
      .next()
      .show()
      .addClass('current');
      if ($('.current').hasClass('inputGroup5')) {
        $('#next').attr('disabled', true);
      }
      $('#prev').attr('disabled', null);
    });

    $('#prev').click(function() {
    $('.current')
    .removeClass('current')
    .hide()
    .prev()
    .show()
    .addClass('current');
    if ($('.current').hasClass('inputGroup1')) {
      $('#prev').attr('disabled', true);
    }
    $('#next').attr('disabled', null);
    });

    $('.finish').click(function() {
      $.ajax({
        url: 'http://localhost:3000/init/update',
        type: 'POST',
        cach: false,
        data: {id: '<%=user._id%>'},
        success: function(data){
          $.ajax({
            url: 'http://localhost:4000/initDone',
            type: 'POST',
            cache: false,
            data: {user: data.user},
            success: function(){
              setTimeout(function(){
              $('.current')
              .removeClass('current')
              .hide()
              .next()
              .show()
              .addClass('current');
              },500);
            }
          })
        },
        err: function(){
          alert('something went wrong');
        }
      })
    })
  </script>
</body>
</html>